### Lambda Functions

## Introduction

Lambda functions are often a convenient way to write *throw-away* functions on the fly. If you need to write a more complicated function you may still need to use the more formal `def` method, but lambda functions provide a quick and concise way to write functions.

## Objectives
You will be able to:
* Understand what lambda functions are and why they are useful
* Use lambda functions to transform data within lists and DataFrames


## An Example

Let's say you want to count the number of words in each yelp review.

In [1]:
import pandas as pd
import numpy as np

In [2]:
yelp = pd.read_csv("../data/Yelp_Reviews.csv")
yelp.head(3)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g

In [7]:
yelp["text"].map(lambda x:len(x.split())).head()

0    58
1    30
2    30
3    82
4    32
Name: text, dtype: int64

+ Similar to defining functions in general or naming the iterable in for loops, the variable that you use after calling the `lambda` keyword does not matter

In [8]:
yelp['text'].map(lambda review_text: len(review_text.split())).head()

0    58
1    30
2    30
3    82
4    32
Name: text, dtype: int64

## Lambda functions with conditionals
+ Lambda functions can also accept some conditionals if chained in a list comprehension

In [9]:
yelp['text'].map(lambda x: 'Good' if any([word in x.lower() for word in ['awesome', 'love', 'good', 'great']]) else 'Bad').head()

0    Good
1     Bad
2    Good
3     Bad
4     Bad
Name: text, dtype: object

## Note
The above is terribly poor style and does in no way represent [pep-8](https://www.python.org/dev/peps/pep-0008/) or Pythonic style. (For example, no line should be over 72 characters according to pep-8; the previous line was 127 characters.) That said, it is an interesting demonstration of chaining a conditional, any method, and a list comprehension all inside a lambda function!   
Shew!

## Returning to a more manageable example...

Perhaps we want to naively select the year from the date string rather then convert it to a datetime object.

In [10]:
yelp.date

0       2012-11-13
1       2014-10-23
2       2014-09-05
3       2011-02-25
4       2016-06-15
           ...
2605    2013-06-02
2606    2016-08-14
2607    2016-06-14
2608    2013-10-02
2609    2016-08-15
Name: date, Length: 2610, dtype: object

In [11]:
# selecting only the year . Note the format may change so the indexing will have to also change
yelp.date.map(lambda x: x[:4]).head()

0    2012
1    2014
2    2014
3    2011
4    2016
Name: date, dtype: object

## Simple Arithmetic

Use a lambda function to create a new column called `stars_squared` by squaring the stars column.

In [12]:
yelp["stars_squared"] = yelp.stars.map(lambda x: x**2)

In [13]:
yelp["stars_squared"].head()

0    25
1     1
2    25
3     1
4    25
Name: stars_squared, dtype: int64

## Dates
#### Select the month from the date string using a lambda function.

In [14]:
yelp["date"].head()

0    2012-11-13
1    2014-10-23
2    2014-09-05
3    2011-02-25
4    2016-06-15
Name: date, dtype: object

In [17]:
# create a new column for the new month
yelp["month"] = yelp.date.map(lambda x: x[5:7])

In [18]:
# checking the new columns
yelp["month"].head()

0    11
1    10
2    09
3    02
4    06
Name: month, dtype: object

In [21]:
yelp

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,month
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,11
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,10
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,09
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,02
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,06
...,...,...,...,...,...,...,...,...,...,...,...,...
2605,689,BTcY04QFiS1uh-RpkR7rAg,1,2013-06-02,0,6_A58CCY8SHB7r-Wu7-A5g,5,Came here with my 2 year old daughter for our ...,2,q3AiAe-AcpDrNsdZf8nCvQ,25,06
2606,4874,t0T_4MM4EUHbCzBTF11FHA,0,2016-08-14,0,KqQwNyfoFiJOw911mrULIg,5,Great little restaurant. Not to many tables an...,0,NJxaA7q9BhqaDrFpfR2Jeg,25,08
2607,564,5XYR6doRa5Nj1JMfSDei6A,1,2016-06-14,0,xlGJkxoIBl8XH8wVsPZpnw,5,Always great friendly service and fresh baked ...,0,kBNFdviedCPFWyR-wVaAzw,25,06
2608,3458,aLcFhMe6DDJ430zelCpd2A,0,2013-10-02,0,kwiEG_KCpDB6aK5fTSM7iw,2,We were expecting amazing Thai food after all ...,1,PkRFSQgSfca9Tamq7b2LdQ,4,10
2609,4206,WdBWhGe4Siqg3IYTc4_K4A,0,2016-08-15,0,O0ttxNGxHKtD8Cnnwc_j1g,1,Sunday at 8p. Not many people here at all. We ...,0,ic9zIsm7zoxUm3Axyegx8g,1,08

## What is the average number of words for a yelp review?
+ Do this with a single line of code!

In [24]:
yelp.text.map(lambda x: len(x.split())).mean().round(3)

77.066

## Create a new column for the number of words in the review.

In [25]:
yelp['Review_num_words'] = yelp.text.map(lambda x : len(x.split()))

In [26]:
# Check results
yelp.head(3)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,Review_num_words
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,58
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,30
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,30

## Rewrite the following as a lambda function. Create a new column 'Review_Length'

In [26]:
def convert_to_lambda(value):
    if len(value) < 50:
        return "Short"
    elif len(value) < 80:
        return "Medium"
    else:
        return "Long"

In [22]:
yelp.columns

Index(['Unnamed: 0', 'business_id', 'cool', 'date', 'funny', 'review_id',
       'stars', 'text', 'useful', 'user_id', 'stars_squared', 'month'],
      dtype='object')

In [27]:
yelp["Review_length"] = yelp["Review_num_words"].map(lambda x: "Short" if x < 50 
                                    else ("Medium" if x < 80 else "long"))

In [28]:
# Check result
yelp["Review_length"].head()

0    Medium
1     Short
2     Short
3      long
4     Short
Name: Review_length, dtype: object

In [29]:
yelp.head()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,month,Review_num_words,Review_length
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,11,58,Medium
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,10,30,Short
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,09,30,Short
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,02,82,long
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,06,32,Short

## Level Up: Dates Advanced!
<img src="./images/world_map.png" width="600">  

Overwrite the date column by reordering the month and day from YYYY-MM-DD to DD-MM-YYYY. Try to do this using a lambda function.

In [31]:
yelp["date"]  # or yelp.date

0       2012-11-13
1       2014-10-23
2       2014-09-05
3       2011-02-25
4       2016-06-15
           ...
2605    2013-06-02
2606    2016-08-14
2607    2016-06-14
2608    2013-10-02
2609    2016-08-15
Name: date, Length: 2610, dtype: object

In [31]:
yelp.date = yelp.date.map(lambda x: "{}-{}-{}".format(x[-2:] , x[5:7], x[:4]))

In [32]:
# Check result
yelp.date

0       13-11-2012
1       23-10-2014
2       05-09-2014
3       25-02-2011
4       15-06-2016
           ...
2605    02-06-2013
2606    14-08-2016
2607    14-06-2016
2608    02-10-2013
2609    15-08-2016
Name: date, Length: 2610, dtype: object

In [ ]:
# We can also change the position of the date this way
# yelp['re_date'] = yelp.date.map(lambda x: '{}-{}-{}'.format(x[8:], x[5:7], x[:4]))
# yelp['re_date'].head()

In [34]:
# Checking results
yelp.head(3)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,Review_num_words,Review_length
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,13-11-2012,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,58,Medium
1,2,jtQARsP6P-LbkyjbO1qNGg,1,23-10-2014,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,30,Short
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,05-09-2014,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,30,Short

## Summary

Great! Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.