# Write a simple function to find the mean of a simple list of numbers

In [1]:
x = [3,2,5,6]
print(x)

[3, 2, 5, 6]

In [2]:
def find_mean(x):
    mean = sum(x)/len(x)
    return mean

In [3]:
find_mean(x)

4.0

# Square root

In [4]:
a = 8
a ** 2

64

In [5]:
def find_sq(x):
    return x ** 2

In [6]:
find_sq(100)

10000

In [7]:
find_sq(46)

2116

In [ ]:
# A bit more in details

Imagine we are creating a list of travel destinations -- which can really turn out to be a full time job if we like to travel. We have our list of `travel_destinations` which we assign below. Write a function called `number_of_destinations()` that returns the number of destinations we have on our list.

In [8]:
travel_destinations = ['ghana', 'nigeria', 'united Kingdom', 'italy', 'russia', 'china', 'australia']

In [9]:
print(travel_destinations)

['ghana', 'nigeria', 'united Kingdom', 'italy', 'russia', 'china', 'australia']

In [10]:
len(travel_destinations)

7

## Now write another function called `next_up()` that returns our first destination (the destination with the lowest index), in the `list of destinations` list.

In [11]:
def next_up():
    return travel_destinations[0]

In [12]:
next_up()

'ghana'

# Write a function called `favorite_destination()` that returns the string `'Germany'`.

In [13]:
favorite_destination = [] 
def favorite_destination():
    return "Germany"

In [14]:
favorite_destination()

'Germany'

# Write a new function called `add_new_destination()` that adds the string `'Germany'` to the end of `all_destinations` and also returns the string `'Germany'`.

In [15]:
all_destinations = ['ghana', 'nigeria', 'united Kingdom', 'italy', 'russia', 'china', 'australia']

In [16]:
def add_new_destination():
    all_destinations.append(favorite_destination())
    return favorite_destination()

In [17]:
add_new_destination()

'Germany'

In [18]:
# Or
all_destinations[-1]

'Germany'

# Write another function called `capitalize_countries()` which iterates through the list of `capitalized_destinations` and capitalizes the first letter of each word. It should return a list of capitalized destinations.

In [19]:
cap_destinations = ['ghana', 'nigeria', 'united Kingdom', 'italy', 'russia', 'china', 'australia']

In [20]:
def capitalize_countries():
    my_list = []  # creating an empty list here
    for country in cap_destinations:
        my_list.append(country.capitalize()) # we can do the same with upper() or lower()
    return my_list

In [21]:
capitalize_countries()

['Ghana', 'Nigeria', 'United kingdom', 'Italy', 'Russia', 'China', 'Australia']

# Perfect! Now if someone adds a country that is lowercased to our list of destinations, we can simply call our function again to capitalize each of the destinations in the list.

# Summary:
Congrats! In this exercise we were able to get practice both creating and returning values from functions. We also practiced accessing variables not local to the function but in the global scope.