### Lesson Guide

#### [Part 1: Python Data Types](#why_py)
- [Why Python?](#why_py)
- [Introduction to Data Types](#intro)
- [Jupyter Notebook](#jupyter_nb)
- [Python Variables](#variables)
- [Operators](#operators)
- [Integers and Floats](#numbers)
- [Strings](#strings)
	-[String Indexing](#slicing)
- [Printing Strings](#print)
- [Lists](#lists)
- [Tuples](#tuples)
- [Dictionaries](#dictionary)
- [Importing Packages and Documentation](#import)
- [Practice With a Partner](#ind-practice)

----

---

<a id='intro'></a>
## Introduction: Python Data Types

There are several _standard_ data types within Python, the six most common being:

**Integers:** Whole numbers from negative infinity to infinity, such as 1, 0, -5, etc.

**Floats:** Short for "floating point number," usually used with decimals such as 2.8 or 3.14159.

**Strings:** A set of letters, numbers, or other characters, e.g., "The fox is quick."

**Tuples:** An ordered sequence with a fixed number of elements, e.g., in x = (1, 2, 3), the parentheses makes it a tuple. x = ("Kirk", "Picard", "Spock")

**Lists:** An ordered sequence without a fixed number of elements, e.g., x = [1, 2, 3]. Note the square brackets. x = ["Lord", "of", "the", "Rings"]

**Dictionaries**: An unordered collection of key-value pairs, e.g., x = {'Mark': 'Twain', 'Apples': 5}. To retrieve each value (the part after each colon), use its key (the part before each colon). For example, x['Apples'] retrieves the value 5.

Throughout this lesson, we will review each data type more in depth and discuss common ways of interacting with each of them.

[Python's basic data types](https://en.wikiversity.org/wiki/Python/Basic_data_types).

---

<a id='jupyter_nb'></a>
## Jupyter Notebook

Before we get started, let's go over interacting with iPython in the Jupyter Notebook.

Code cells are run by pressing `shift + enter` or using the Play button in the toolbar.

# This is a cell.

In [1]:
# Assigning a variable:
v = 1

In [2]:
# Print this:
print(v)

1

In [3]:
# Assign another:
dsa = 'Data Science is awesome!'

In [4]:
# Run this!
dsa

'Data Science is awesome!'

# You can also perform basic math using integers in the iPython notebook.

In [5]:
45 - 19

26

In [6]:
num1 = 45
num2 = 19

In [7]:
print(num1 + num2)

64

# Checking for Data types

In [8]:
type(65)

int

In [9]:
type(3.5)

float

<a id='variables'></a>
## Variables

Variables are names that have been assigned to specific values or data. These names can be almost anything you want, but there are some restrictions and best practices.

**Restrictions**
- Variable names cannot be just a number (i.e., `2`, `0.01`, `10000`).
- Variables cannot be assigned the same name as a default or imported function (i.e., '`type`', '`print`', '`for`').
- Variable names cannot contain spaces.

**Best Practices**
- Variable names should be lowercase.
- A variable's name should be representative of the value(s) it has been assigned.
- If you must use multiple words in your variable name, use an underscore to separate them.

In [10]:
# Assigning a float:
x = 1.0
type(x)

float

In [11]:
# Assigning an int:
y = 1
type(y)

int

In [12]:
# Assigning a string:
z = '1'
type(z)

str

# It is critical to remember that, when we're assigning variables, we are not stating that "x equals 1_," we're stating that "_x has been assigned the value of 1."

In [13]:
numlist = [2,3, 4,4,3,2,3,4,1]
data = set(numlist)

In [14]:
print(data)

{1, 2, 3, 4}

In [15]:
mydict = {1:2, 2:1}
list(mydict.keys())[0]

1

In [16]:
3*2

6

## Variables

Variables are easy to understand. They simply **point to values**.

```python
>>> a = 1   # create a variable called a that points to 1
>>> b = 2   # create another variable
>>> a       # get the value that the variable points to
1
>>> b
2
>>>
```

Let's draw a diagram of these variables.

![Variable diagram](./python_intro/variables1.png)

In [17]:
# test it out here
name = 'Joshua'

We can also change the value of a variable after setting it.

```python
>>> a = 2    # make a point to 2 instead of 1
>>> a
2
>>>
```

So now our diagram looks like this:

![Variable diagram](./python_intro/variables2.png)

In [18]:
# let's say
a = 2
a

2

In [19]:
# test it here
b = a

In [20]:
b

2

In [ ]:
# Take note of this

In [21]:
a = 1
b = a  # this makes b point to 1, not a
a = 5
b      # b didn't change when a changed

1

In [22]:
# .. however what if i do this. 
b = a
b

5

Trying to access a variable that is not defined creates an error
message.
```python
>>> thingy
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'thingy' is not defined
>>>
```

Variables are simple to understand, but there are a few details that we
need to keep in mind:

- Variables always point to a value, **they never point to other
  variables**. That's why the arrows in our diagrams always go left
  to right.
- Multiple variables can point to the same value, but one variable
  cannot point to multiple values.
- The values that variables point to can point to other values also.
- Variable names cannot be just a number (i.e., `2`, `0.01`, `10000`) or start with number and it cannot contain spaces.

Variables are an important part of most programming languages, and they
allow programmers to write much larger programs than they could write
without variables.

Variable names are case-sensitive, like many other things in Python.
```python
>>> thing = 1
>>> THING = 2
>>> thIng = 3
>>> thing
1
>>> THING
2
>>> thIng
3
>>>
```

# Dealing with Errors : Do not panick whenever you see errors. You will get used to them, I promise

In [23]:
# try it out here
class = 2

SyntaxError: invalid syntax (<ipython-input-23-b7182bdf1281>, line 2)

# Note:

There are also words that cannot be used as variable names
because they have a special meaning. They are called **keywords**, and
we can run `help('keywords')` to see the full list if we want to.
We'll learn to use most of them later in this tutorial. Trying to use a
keyword as a variable name causes a syntax error.

```python
>>> if = 123
  File "<stdin>", line 1
    if = 123
       ^
SyntaxError: invalid syntax
>>>
```

In [24]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

When assigning something to a variable using a `=`, the right side of
the `=` is always executed before the left side. This means that we can
do something with a variable on the right side, then assign the result
back to the same variable on the left side.

```python
>>> a = 1
>>> a = a + 1
>>> a
2
>>>
```

<a id='operators'></a>
## Operators

"Operators are the constructs (that) can manipulate the value of operands." — [Tutorials Point: Python](https://www.tutorialspoint.com/python/python_basic_operators.htm)

Operators can be used in a mathematical sense to calculate (or create) the sum, difference, product, or quotient of values or variables.

In [25]:
# Addition:
print(1 + 2)
# Subtraction:
print(1 - 2)
# Multiplication:
print(1 * 2)
# Division:
print(1 / 2)

3
-1
2
0.5

There is also "`//`" division, whose output will be the rounded-down whole number. (In mathematics, this is called the quotient.)

In [26]:
# Division of float numbers:
print(3.0 // 2)
print(-3.0 // 2)

1.0
-2.0

The `=` sign in Python is known as the assignment operator. It is the means by which we can assign values to variables.

In [27]:
number = 2.0
type(number)

float

In [28]:
# Exponent power operator:
2 ** 2

4

In [29]:
# Module can be used to get the remainder:
5%2

1

**Booleans and Boolean Evaluation Operators** 

Booleans exist as either true or false and are generally used as a means of evaluation.

In [1]:
True

True

In [2]:
False

False

In [3]:
True and False

False

In [4]:
not False

True

In [6]:
True == False

False

In [5]:
True != False

True

In [11]:
True or False

True

**Comparison Operators**

- Less than: **`<`**
- Greater than: **`>`**
- Less than or equal to: **`<=`**
- Greater than or equal to: **`<=`**
- Equals: **`==`**
- Does not equal: **`!=`**

In [30]:
2 > 1, 2 < 1, 2 > 2, 2 < 2, 2 >= 2, 2 <= 2

(True, False, False, False, True, True)

In [31]:
# equality
[1,2] == [1,2], [1,2] != [2,1]

(True, True)

<a id='numbers'></a>
## Numbers in Python

Numbers in Python can be stored four ways. Two — floats and integers — are very common, and the other two — [long](https://docs.python.org/2/library/functions.html#long) and [complex](https://docs.python.org/2/library/functions.html#complex) — are relatively uncommon. Today, we'll review integers and floats, as there is a good chance these will be the only ones you'll ever use.

Integers are whole numbers. 
- 1
- 200
- 100009 

Floats are numbers with decimals. The name "float" comes from "floating point," as the decimal can _float_ the length of the number.
- 1.11
- 26.006
- 3.0

In [14]:
x_int = 1
x_float =1.0

print(type(x_int))
type(x_float)

<class 'int'>

float

### Note

* If an integer or float is compatible, it can be converted to the other type.

In [15]:
float(x_int)

1.0

In [16]:
type(int(x_float))

int

# <font color='red'>Today's class!</font>

# Built in functions
https://docs.python.org/3/library/functions.html

* int( )
* float( )
* str( )
* dict( )
* format( )
* range( )
* etc

In [32]:
True / False

ZeroDivisionError: division by zero

In [33]:
type(10)

int

In [34]:
type(10.00)

float

# Data types are simply values in pyhton. Its all about storing information and manipulating it.

# Data types
1. None - means nothing , the absence of value
2. bool
3. int
4. float
5. str
6. list
7. tuple
8. dict
9. set

In [ ]:
# classes - custom types
# Specialized Data types - Modules ie extentions

<a id='strings'></a>

## Strings

Strings are used to record the text information such as name. In Python, Strings act as “Sequence” which means Python tracks every element in the String as a sequence. This is one of the important features of the Python language.

For example, Python understands the string "hello' to be a sequence of letters in a specific order which means the indexing technique to grab particular letters (like first letter or the last letter).

Strings are essentially any character combination in between quotes. They are most often used as a way of storing text.

* A String is created with a single quote or double quotes

+ They are odered, immutable, text representation.
+ It is one of the most important data types
+ They are also immutable, thus cant be changed.

In [35]:
x = "Hello World"
type(x)

str

## Creating a String
In Python, either single quote (‘) or double quotes (“) must be used while creating a string.

    For example:

In [36]:
# Single word
'hello'

'hello'

In [38]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [39]:
# Or
"I am a Data scientist"

'I am a Data scientist'

In [40]:
# Comments
"""
This is a comment
"""

'\nThis is a comment\n'

In [41]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'


### <font color='red'>Be careful with quotes!</font>

In [42]:
' I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-42-29ac9b138ca4>, line 1)

# The above code results in an error as the text “I’m” stops the string. Here, a combination of single quotes and double quotes can be used to get the complete statement.

In [ ]:
# The right way should be ...

In [43]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [44]:
'I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-44-dead77b3e6ca>, line 1)

In [45]:
# Or
'I\'m using single quotes, but will create an error'

"I'm using single quotes, but will create an error"

# Printing Strings

We can automatically display the output strings using Jupyter notebook with just a string in a cell. But,the correct way to display strings in your output is by using a print function.

In [46]:
# We can simply declare a string
'Hello World'

'Hello World'

In [47]:
# note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

# Note :

In Python 2, the output of the below code snippet is displayed using "print" statement as shown in the below syntax but the same syntax will throw error in Python 3.

In [48]:
print 'Hello World 1'
print 'Hello World 2'
print 'Use \n to print a new line'
print '\n'
print 'See what I mean?'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello World 1')? (<ipython-input-48-3c2f3251395a>, line 1)

### <font color='red'>Python 3 Alert!</font>

Note that, In Python 3, print is a function and not a statement. So you would print statements like this:
print('Hello World')

If you want to use this functionality in Python2, you can import form the __future__ module. 

**Caution: After importing this; you won't be able to choose the print statement method anymore. So pick the right one whichever  you prefer depending on your Python installation and continue on with it.**

In [49]:
# To use print function from Python 3 in Python 2
# from __future__ import print_function

print('Hello World')

Hello World

## String Basics

+ In Strings, the length of the string can be found out by using a function called len().

In [50]:
len("Hello World")

11

In [51]:
m = "Cocacola"
len(m)

8

# Diving Deeper into Strings

# Introducing Myself

In [53]:
friends = ["Jayson","Sarah"]

In [54]:
buddy = []
for x in friends:
    buddy.append(x)

In [55]:
buddy

['Jayson', 'Sarah']

In [ ]:
# the above is same 
buddy = friends.copy()

In [56]:
buddy

['Jayson', 'Sarah']

In [62]:
first_name = "Umaier"
last_name = "Ahmed"
age = 25

In [63]:
print(first_name)
print(last_name)
print(age)

Umaier
Ahmed
25

In [ ]:
# writing readable code
name = "Joshua"

# Note:
# you cant say 1first_name or 1 = . You need to assign variables to sth meaningful and your code needs to to readable and understood by others and yourself in the future.

In [64]:
full_name = first_name + " " + last_name
print(full_name)

Umaier Ahmed

In [65]:
print(f'Hi my name is {first_name} {last_name}')

Hi my name is Umaier Ahmed

In [66]:
# or simply
print(f'Hi my name is {full_name}')

Hi my name is Umaier Ahmed

# Practicing some Python string Methods on name
https://www.w3schools.com/python/python_ref_string.asp
+ upper( )
+ lower( )
+ capitalize( )
+ and many more

## Basic Built-in String methods

In Python, Objects have built-in methods which means these methods are functions present inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

Methods can be called with a period followed by the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments which are passed into the method. Right now, it is not necessary to make 100% sense but going forward we will create our own objects and functions. 

Here are some examples of built-in methods in strings:

In [67]:
# let's make a copy of full_name. What do you think will happen here?
full_name2 = full_name.copy()

AttributeError: 'str' object has no attribute 'copy'

In [68]:
# the right way will be...
full_name2 = full_name[:]

In [69]:
full_name2

'Umaier Ahmed'

In [70]:
full_name2.capitalize()

'Umaier ahmed'

In [71]:
full_name2.upper()

'UMAIER AHMED'

In [72]:
full_name2.lower()

'umaier ahmed'

In [74]:
full_name2 = full_name.title()

In [75]:
full_name2

'Umaier Ahmed'

# String Concatenation

In [76]:
print(f'My name is {full_name}')

My name is Umaier Ahmed

In [77]:
print(f"My name is {full_name} and I am {age} years old")

My name is Umaier Ahmed and I am 25 years old

In [78]:
s = "Hello World"

In [79]:
print(s)

Hello World

In [80]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [81]:
# We can reassign s completely though!
susu = s + ' concatenate me!'

In [82]:
print(susu)

Hello World concatenate me!

# Removing whitespace from strings

In [71]:
my_string =" Hello Word "

In [72]:
print(my_string)

 Hello Word

In [73]:
my_string = my_string.strip()

In [74]:
print(my_string)

Hello Word

# We can use the multiplication symbol to create repetition!

In [83]:
letter = 'z'

In [84]:
letter*10

'zzzzzzzzzz'

# Type Convertion

In [85]:
100

100

In [86]:
type(100)

int

In [87]:
type(100.00)

float

In [88]:
# 100 is an integer but we can convert it into a string
print(type(100))
# print(100)

<class 'int'>

In [89]:
str(100)

'100'

In [90]:
print(type(str(100)))

<class 'str'>

In [91]:
# Converting 100 back from a string into an integer
print(type(int(str(100))))

<class 'int'>

In [92]:
print(type(a))

<class 'int'>

In [93]:
# The above can also be written into an integer as
a = str(100)
b = int(a)
c = type(b)
print(c)

<class 'int'>

# Question: you might be wondering why the need to convert numbers into strings and vice versa

In [ ]:
# Escape Sequence

In [ ]:
"f" 
"t\",
"n\"

In [94]:
# this wont return the right result
another = 'I\m a data scientist'
print(another)

I\m a data scientist

In [95]:
# Correct way is to use an Escaping backslash
profession = "I\'m a data scientist"
print(profession)

I'm a data scientist

# String Formating
+ Let's say we have a number of users and we want to get or store their details

In [96]:
name = "Umaier"
Age = 25
print("Hi " + name + ". You are "+ str(Age) + " years old today" + ".") #note age is conv to str

Hi Umaier. You are 25 years old today.

In [97]:
# formating the string. Nice and clean to avoid repetition
print(f"Hi {name}. You are {age} years old today")

Hi Umaier. You are 25 years old today

In [98]:
# Note the above was not the case in python 2
print("Hi {}. You are {} years old today").format("Johnny","55")

Hi {}. You are {} years old today

AttributeError: 'NoneType' object has no attribute 'format'

In [99]:
print("Hi {}. You are {} years".format("Umaier","25"))

Hi Umaier. You are 25 years

In [100]:
# we could also use variables in the same way
print("Hi {}. You are {} years old today".format(name,Age))

Hi Umaier. You are 25 years old today

In [101]:
print("Hi {0}. You are {1} years old".format(name,Age))

Hi Umaier. You are 25 years old

In [103]:
# Let's say we want to add a new customer
print("Hi {new_name}.You are {new_age} years old today".format(new_name="Sara",new_age=100))

Hi Sara.You are 100 years old today

In [104]:
# Let's say we want to add a new customer
print("Hi {new_name}.You are {new_age} years old today".format(new_name="Ali", new_age=22))

Hi Ali.You are 22 years old today

# Note we use the formatted string method to keep things nice and clean after python 3.6.

# String Indexing - Look at it as storing things on a bookshelf
### This is going to come in handy in our upcoming class next week in Pandas too.

We know strings are a sequence, which means Python can use indexes to call all the sequence parts. Let's learn how String Indexing works.
•	We use brackets [ ] after an object to call its index. 
•	We should also note that indexing starts at 0 for Python. 
Now, Let's create a new object called s and the walk through a few examples of indexing.

The number you enter after the variable name in brackets (the `[0]`) is called the **index** (its plural is **indices**).

_Counting in Python and many other programming languages begins at zero, as opposed to one. This is called **zero-based indexing**._

In [ ]:
# [start:stop] this is the concept of indexing in python
# [start:stop:stepover]

In [105]:
selfish = "me me me"
          #01234567 note that we start counting from 0 in python including the spaces too

In [106]:
print(selfish)

me me me

In [107]:
# guess what will print - run this to find out
print(selfish[1])

e

In [108]:
# Assign s as a string
s = 'Hello World'

In [109]:
# Check
s

'Hello World'

In [110]:
# Print the object
print(s)

Hello World

# Let's start indexing

In [111]:
# Show first element (in this case a letter)
s[0]

'H'

In [112]:
s[1]

'e'

In [113]:
s[-1]

'd'

In [109]:
s

'Hello World'

# We can use a : to perform *slicing* which grabs everything up to a designated point. For example:

In [114]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [115]:
# Note that there is no change to the original s
s

'Hello World'

In [116]:
# Grab everything UP TO the 3rd index
s[6:]

'World'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [117]:
# Everything
s[:]

'Hello World'

# We can also use negative indexing to go backwards.

In [118]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [119]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [120]:
s

'Hello World'

# Index and slice notation is used to grab elements of a sequenec by a specified step size (where in 1 is the default size). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [121]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [122]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [123]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

In [123]:
n = "Jibril"

# Another example

In [124]:
some_numbers = "01234567"
#               01234567

In [ ]:
# In this code below we are specifying to start at 0 and stop at 2. Choose 0,1 & exclude 2

In [125]:
print(some_numbers[0:2])

01

In [126]:
print(some_numbers[0:2])
print("---------------")
print(some_numbers[0:7])
print("---------------")
print(some_numbers[1:7])
print("---------------")
# print(some_numbers[0:8:2]) # note the default for step is 1

01
---------------
0123456
---------------
123456
---------------

In [127]:
some_numbers

'01234567'

In [128]:
# What do you think will happen if we step over twice.This is the same as saying even num
print(some_numbers[0:8:2])

0246

In [129]:
print(some_numbers[1:]) # here we are saying start at 1 all the way to the end

1234567

In [130]:
# Let's do the same for our initial customer name
print(name)

Umaier

In [131]:
display (name[::5])

'Ur'

In [132]:
print(name[::-1]) # we will also come back to this in lists. start:stop:stepover

reiamU

In [133]:
names = ["joh","ma","mi","alex","ali","samiya"]

In [134]:
print(names)

['joh', 'ma', 'mi', 'alex', 'ali', 'samiya']

In [135]:
names.sort()

In [136]:
names

['alex', 'ali', 'joh', 'ma', 'mi', 'samiya']

In [138]:
names[::-1]

['samiya', 'mi', 'ma', 'joh', 'ali', 'alex']

# Showing how string index works under the hood in python

In [139]:
s = "Hello World"

# Note we will be speaking extensively about for loops in our upcoming class so dont get confused. They are supereasy and every handy.

In [140]:
for i in enumerate("Hello world"):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'w')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

In [141]:
for i , char in enumerate("Hello world"):
    print(i , char)

0 H
1 e
2 l
3 l
4 o
5
6 w
7 o
8 r
9 l
10 d

# String Properties

# Note: Strings are immutable. Thus once created we cannot change it unless we reassingn

In [142]:
neighbour = "Anya Hindmach"
print(neighbour)

Anya Hindmach

In [143]:
# let's see what happens when I try to mutate a string
neighbour[0] = "E"

TypeError: 'str' object does not support item assignment

In [144]:
n2 =neighbour[:]

In [ ]:
# However, we can use some of our inbuilt functions to make changes

In [145]:
# Replace an element of a string:
n2 = neighbour.replace("Anya", "Tommy")
print(n2)

Tommy Hindmach

In [146]:
neighbor = "TOm Hardy"

In [147]:
neighbor[0] = "M"

TypeError: 'str' object does not support item assignment

In [ ]:
# However, this is not the case in a list

In [148]:
name = ["Johnny","Ama","Patty","Isaac"]

In [149]:
name[-1] = "Jib"

In [150]:
print(name)

['Johnny', 'Ama', 'Patty', 'Jib']

In [ ]:
# We will talk more about this when we come to lists
.append()
.extend()
.pop()
.insert()
.replace()
.add()

# Simple exercise
# Create a simple python programme to store a name and birthday of clients

In [151]:
birth_date = input("What year were you born?")

age = 2020 - int(birth_date) # note I converted my birthday into an int. Rem same with str

What year were you born?1995

In [152]:
print(f"You are {age} years old")

You are 25 years old

In [153]:
name = "Hans"

In [154]:
print(f"Your name is {name} and your age is {age}")

Your name is Hans and your age is 25

# 2. Implement a Python program to generate all sentences where subject is in ["Americans","English"] and verb is in ["Play", "watch"] and the object is in ["Baseball","cricket"].

In [155]:
# expected output
print("Americans play baseball")
print("English watch cricket")

Americans play baseball
English watch cricket

In [157]:
subjects = ["Americans","English"]
verbs = ["play","watch"]
objects = ["baseball","cricket"]

In [158]:
# Guess what this line returns?
subjects[0]

'Americans'

In [160]:
print(subjects[0], "like to",verbs[0], objects[0] )

Americans like to play baseball

In [161]:
print(subjects[1], 'like to', verbs[1], objects[1])

English like to watch cricket

# Printing it all together

In [164]:
# Let's play a game
print(subjects[0], "like to", verbs[0], objects[0],'\n', subjects[1], "like to", 
      verbs[1], objects[1])

Americans like to play baseball
 English like to watch cricket

In [ ]:
# second exercise

In [165]:
giorni = ["Today's","Tomorrow"]
cosa = ["lesson","Swimming"]
tempo = ["1'oclock","later"]

In [169]:
print(giorni[1], "we are" ,cosa[1] , tempo[1], "in the evening")

Tomorrow we are Swimming later in the evening

# Let's Create a simple python progrmmae to tell my password and length of my password

In [170]:
username = input("What is your username?")
password = input("What is your password?")


print(f'{username}, your password, {password}, is {len(password)} letters long')

What is your username?Joshua
What is your password?longlivethemovement
Joshua, your password, longlivethemovement, is 19 letters long

In [ ]:
# Note what if we want to hide our password

In [171]:
username = input("What is your username?")
password = input("What is your password?")

password_length = len(password)
hidden_password = "*" * password_length

print(f"Your username is {username}, your password, {hidden_password}, is {len(password)} letters long")

What is your username?Joshua
What is your password?longlivemohemmed
Your username is Joshua, your password, ****************, is 16 letters long

In [172]:
# Or
print(f"{username}, your password, {hidden_password}, is {password_length} letters long")

Joshua, your password, ****************, is 16 letters long

In [ ]:
# explaining hidden password

In [193]:
print("*" * 10)

**********

# Lets play the word limit game - 
### you have written 182 characters, you have -42 characters left

In [173]:
text = input("Compose your text:")

Compose your text:Kimchi is my favorite japenese food

In [174]:
textCount = len(text)

In [175]:
limit = 148

In [176]:
type(limit)

int

In [177]:
print(textCount)

35

In [178]:
print(f"You have written {textCount} characters, you have {limit - textCount} characters remaining")

You have written 35 characters, you have 113 characters remaining

# Javascript

In [ ]:
var text = prompt("Compose your text:");
var textCount = tweet.length;
alert("You have written " + tweetCount + " characters, you have " + (148 - textCount) + " characters remaining")

# Translate the above into python - Slicing game

In [ ]:
var text = prompt("Compose your tweet:");
var textUnder140 = text.slice[0,140];
alert(textUnder140);

# Or
var text = prompt("Compose your tweet:");
alert(text.slice[0,140]);

In [49]:
new_text = input(" ")

 Today was a lovely day, initially it rained the whole morning here in Genoa ; however, it was sunny for the rest of the day. We also went to the hospital today for an appointment but we missed the appointment for the international driving lincence

In [50]:
len(new_text)

247

In [44]:
# textUnder140 = new_text[0:140]

In [48]:
print(new_text[0:24])

Today was a lovely day,

# The Uppercase, Lowercase, Capitalise game

In [179]:
name = "Angela"

In [180]:
name.upper()

'ANGELA'

In [181]:
print(f"Hi {name.upper()}, welcome to our group")

Hi ANGELA, welcome to our group

In [182]:
greetings= "Hello"

In [183]:
print(f"{greetings} {name.lower()}, how are you today?")

Hello angela, how are you today?

In [184]:
print(f"{greetings} {name.capitalize()}, how are you today?")

Hello Angela, how are you today?

# Slicing Ninja game

# Note : This game can be played with one or two lines of code but for a detailed explanation of slicing we are taking the longer route

In [185]:
name = input("")

Angela

In [186]:
# slice the first letter of the name
firstChar = name[0]
print(firstChar)

A

In [196]:
# Turn the firstletter to Uppercase
uppercasefirstChar = firstChar.upper()

In [189]:
uppercasefirstChar

'a'

In [190]:
# Isolate the rest of the name
restofname = name[1:]
print(restofname)

ngela

In [ ]:
# change the rest of the name to lowercase in case if someone decides to write name this way anGELA

In [191]:
restofname = restofname.lower()

In [197]:
# Concactenate the first character with the rest of the characters
capitalisedname = uppercasefirstChar + restofname

In [ ]:
# Use the capitalised version of their name to greet them using an alert this is javascript
#alert("Hello," + capitalisedname)

In [198]:
print("Hello " + capitalisedname)

Hello Angela

# The above in Javascript can be written as

In [ ]:
var firstChar = name.slice(0,1);

var upperCaseFirstChar = firstChar.toUpperCase();

var restofname = name.slice(1, name.length);

restofname = restname.toLowercaser();

var capitalisedname = upperCaseFirstChar + restofname;

alert("Hello, " + capitalisedname);

# Buying some milk using strings and a bit of maths

In [199]:
request = "I want you to buy"

In [200]:
money = input("")

3

In [201]:
numberofbottles = int(money) / 1.5

In [202]:
print("I want you to buy ",  numberofbottles , "bottles of milk")

I want you to buy  2.0 bottles of milk

# Or Simply

In [203]:
print(f"{request} {numberofbottles} bottles of milk")

I want you to buy 2.0 bottles of milk

# Life in Weeks Coding Exercise
I was reading this article by Tim Urban(https://waitbutwhy.com/2014/05/life-weeks.html) - Your Life in Weeks and realised just how little time we actually have.

In this challenge, you are going to create a program that tells us how many days, weeks and months we have left if we live until 90 years old.



It will take your current age as the input and console.logs a message with our time left in this format:

You have x days, y weeks, and z months left.

Where x, y and z are replaced with the actual calculated numbers.



For this challenge, assume there are 365 days in a year, 52 weeks in a year and 12 months in a year.



IMPORTANT your console.log output should match the Example Output format exactly, even the positions of the commas and full stops.

Example Input

e.g. If you are 56 years old:

lifeInWeeks(56)
Example Output

You have 12410 days, 1768 weeks, and 408 months left.
Hint

Try using this Repl.it playground to test your code and see if the output is what you expect it to be.

Make sure your console.log output matches the example output precisely. The same capitalisation, the same spaces, commas and full stops.

index.js
  
Line 1, Column 1All changes saved
Reset code
Fullscreen

# Note : further during the lessons we will cover this same exercise by using functions

In [ ]:
answer in Javascript

In [ ]:
function lifeinweeks(age){
    var yearsRemaining = 90 - age;
    var days = yearsRemaing * 365;
    var weeks = yearsRemaining * 52;
    var months = yearsRemaining * 12;
    
console.log("You have " + days + "days, " + weeks + " weeks, and" + months + " months left.")
    }

lifeinweeks(12)

# Answer in python

In [58]:
age = input("")

12

In [61]:
yearsRemaining = 90 - int(age)
days = int(yearsRemaining) * 365
weeks = int(yearsRemaining) * 52
months = int(yearsRemaining) * 12

# Try figuring out how to fix this error

In [65]:
print("You have " + days + "days, " + weeks + " weeks, and" + months + " months left.")

TypeError: must be str, not int

In [64]:
print("You have " + str(days) + " days, " + str(weeks) + " weeks, and " + str(months) + " months left.")

You have 28470 days, 4056 weeks, and 936 months left.

In [ ]:
# Or

In [74]:
print("You have ", days, " days, "  ,weeks,   " weeks, and " , months,  " months left.")

You have  28470  days,  4056  weeks, and  936  months left.

In [ ]:
# Or

In [75]:
tell_me = "You have"

In [ ]:
print(f"{request} {numberofbottles} bottles of milk")

In [82]:
print(f"{tell_me} {days} days, {weeks} weeks and {months} months left to live.")

You have 28470 days, 4056 weeks and 936 months left to live.

# Introduction to Data Structures
+ Lists
+ Dictionaries
+ Sets
+ Turples

# Lists
+ Order Matters, only contains an index old and can't hold many items
+ A list must be mutable, thus it can be changed

In [1]:
my_list = ["banana","cherry","apple"]
print(my_list)

['banana', 'cherry', 'apple']

In [2]:
# Check how many items we have in our list
print(len(my_list))

3

In [3]:
# remember indexing? Let's try to access the first item in the list
my_list[0]

'banana'

In [4]:
# We can also go out of the range of our list. Take a look at our error. What did u learn?
my_list[3]

IndexError: list index out of range

In [5]:
my_list[2]

'apple'

In [6]:
# We can also iterate using a for loop . We will speak in details about for loops later
for x in my_list:
    print(x)

banana
cherry
apple

In [7]:
# we can check if we have items in our list tis way too using conditions
if "banana" in my_list:
    print("yes")
else:
    print("I forgot to buy the banana for the kids")

yes

In [8]:
# Do we have lemons in our list?
if "lemon" in my_list:
    print("yes")
else:
    print("I forgot to buy the lemons for the kids")

I forgot to buy the lemons for the kids

# Adding items to my_list

In [9]:
my_list.append("lemon")
print(my_list)

['banana', 'cherry', 'apple', 'lemon']

In [10]:
# or adding pineapples to my_list
my_list.insert(1,"pineapple")

In [11]:
my_list

['banana', 'pineapple', 'cherry', 'apple', 'lemon']

# List slicing

In [12]:
new_list = ["a","b","c"]
print(new_list[0])
print(new_list[-2])
# print(new_list[3]) # note this will return an error as the list will be out of range
print(new_list[2])

a
b
c

In [13]:
# note instead of going through printing everything 1 by 1 which can be tidious. 
# For loops can save the day
for item in new_list:
    print(item)

a
b
c

In [14]:
# Now what do you think will happen if I run this. Remember start:stop
print(new_list[:2])

['a', 'b']

In [15]:
print(new_list[1:3])

['b', 'c']

# Replace the first item in the list with z

In [16]:
print(new_list)

['a', 'b', 'c']

In [17]:
new_list[0] = "z"
print(new_list)

['z', 'b', 'c']

# 2nd Exercise of adding 5 to the list of numbers

In [18]:
My_list = [1,2,3]
bonus = My_list + [5] # adding 5 to my list and put it in a new container called bonus

In [19]:
print(My_list)

[1, 2, 3]

In [20]:
print(bonus)

[1, 2, 3, 5]

In [21]:
# Changing first variable from 1 to z.Do you think this will affect Bonus? print to find out
My_list[0] = "z"
print(bonus)

[1, 2, 3, 5]

In [22]:
print(My_list)

['z', 2, 3]

# Matrix

In [23]:
# Exercise: using this list: Access "Oranges" and print it:
basket = ["Banana",["Apples",["Oranges"],"Blueberries"]];

In [24]:
print(basket)

['Banana', ['Apples', ['Oranges'], 'Blueberries']]

In [ ]:
# Do you think we could slice it as per usual?
# Since we learn from our mistakes let's dive right in.

In [25]:
basket[2] # why do you think so?

IndexError: list index out of range

In [26]:
basket[1]

['Apples', ['Oranges'], 'Blueberries']

In [ ]:
# let's say we want to get banana

In [27]:
basket[0]

'Banana'

In [ ]:
# now let's get that orange for lunch

In [28]:
basket[1][1][0]

'Oranges'

In [29]:
# we can also get oranges this way
basket[1][1]

['Oranges']

In [30]:
# let's get some blueberries
basket[-1][-1]

'Blueberries'

In [ ]:
# Now let's finally get an apple

In [32]:
basket[1][0]

'Apples'

# List Methods
https://www.w3schools.com/python/python_ref_list.asp

In [ ]:
Method     Description
append()   Adds an element at the end of the list
clear()    Removes all the elements from the list
copy()     Returns a copy of the list
count()    Returns the number of elements with the specified value
extend()   Add the elements of a list (or any iterable), to the end of the current list
index()    Returns the index of the first element with the specified value
insert()   Adds an element at the specified position
pop()      Removes the element at the specified position
remove()   Removes the first item with the specified value
reverse()  Reverses the order of the list
sort()     Sorts the list

# List Keywords

https://www.w3schools.com/python/python_ref_keywords.asp

Keyword          Description
+ and            `A logical operator`

+ as              `To create an alias`

+ assert           `For debugging`

+ break            `To break out of a loop`

+ class            `To define a class`

+ continue         `To continue to the next iteration of a loop`

+ def              `To define a function`

+ del              `To delete an object`

+ elif             `Used in conditional statements, same as else if`

+ else             `Used in conditional statements`

+ except           `Used with exceptions, what to do when an exception occurs`

+ False            `Boolean value, result of comparison operations`

+ finally          `Used with exceptions, a block of code that will be executed no matter if there is an exception    or not`

+ for              `To create a for loop`

+ from             `To import specific parts of a module`

+ global           `To declare a global variable`

+ if               `To make a conditional statement`

+ import           `To import a module`

+ in               `To check if a value is present in a list, tuple, etc.`

+ is               `To test if two variables are equal`

+ lambda           `To create an anonymous function`

+ None             `Represents a null value`

+ nonlocal         `To declare a non-local variable`

+ not              `A logical operator`

+ or               `A logical operator`

+ pass             `A null statement, a statement that will do nothing`

+ raise            `To raise an exception`

+ return           `To exit a function and return a value`

+ True             `Boolean value, result of comparison operations`

+ try              `To make a try...except statement`

+ while            `To create a while loop`

+ with             `Used to simplify exception handling`

+ yield            `To end a function, returns a generator`

# List keywords Exercise

In [ ]:
# using this list

In [33]:
Basket = ["Banana","Apples","Oranges","Cocoa","Blueberries"]
print(Basket)

['Banana', 'Apples', 'Oranges', 'Cocoa', 'Blueberries']

In [34]:
# # Using a for loop. Again we will come to this in the for loop lessons
# shopping_basket = []
# for x in Basket:
#     shopping_basket.append(x)

In [35]:
print(shopping_basket)

['Banana', 'Apples', 'Oranges', 'Cocoa', 'Blueberries']

In [36]:
# create a copy of Basket
Basket2 = Basket.copy()

In [39]:
Basket2

['Banana', 'Apples', 'Oranges', 'Cocoa', 'Blueberries']

In [38]:
# now the above can also be written as
Basket3 = Basket[:]

In [40]:
#or by using the list function
Basket4 = list(Basket)

In [41]:
print(Basket2)
print("--------")
print(Basket3)
print("--------")
print(Basket4)

['Banana', 'Apples', 'Oranges', 'Cocoa', 'Blueberries']
--------
['Banana', 'Apples', 'Oranges', 'Cocoa', 'Blueberries']
--------
['Banana', 'Apples', 'Oranges', 'Cocoa', 'Blueberries']


# <font style="color:red;">**Note : be careful not to do this**</font>

In [42]:
list_orig = ["banana","mangoes","oranges"]

In [43]:
list_cpy = list_orig

In [44]:
list_cpy

['banana', 'mangoes', 'oranges']

In [46]:
list_orig

['banana', 'mangoes', 'oranges']

In [47]:
list_cpy.append("lemon")

In [48]:
# this happens as they are both stored as same in memory of the computer. 
# hence editing one affects the other
print(list_cpy)
print(list_orig)

['banana', 'mangoes', 'oranges', 'lemon']
['banana', 'mangoes', 'oranges', 'lemon']

In [49]:
# Remove the Banana from the list
Basket.remove("Banana")

In [50]:
print(Basket)

['Apples', 'Oranges', 'Cocoa', 'Blueberries']

In [51]:
# Exercise - Remove Blueberries from the list
Basket.pop(-1)

# Or
# Basket.delete("Blueberries")

# or
# Basket.remove("Blueberries")

'Blueberries'

In [52]:
# Let's check our basket
Basket

['Apples', 'Oranges', 'Cocoa']

In [53]:
# Exercise 3 Put "Kiwi" at the end of the list . This will through an ERROR
Basket.add("Kiwi")

AttributeError: 'list' object has no attribute 'add'

In [54]:
# Add Is not a list method not a keyword
Basket.append("Kiwi")

In [55]:
# let's check results
print(Basket)

['Apples', 'Oranges', 'Cocoa', 'Kiwi']

In [56]:
# Exercise 4 Add 'Strawberries' to the beginning of the list
Basket[0] = "Strawberries"

# Or
# Basket.insert(0, "Strawberries")

In [57]:
# Check results
Basket

['Strawberries', 'Oranges', 'Cocoa', 'Kiwi']

In [58]:
# I want my apples back. Where did they go?
Basket.append("Apples")

In [59]:
Basket

['Strawberries', 'Oranges', 'Cocoa', 'Kiwi', 'Apples']

In [60]:
# Let's try out what sort does to the list
Basket.sort()

In [61]:
Basket

['Apples', 'Cocoa', 'Kiwi', 'Oranges', 'Strawberries']

In [62]:
# Ex 5 Count the number of Apples
Basket.count("Apples")

1

# Exercise6.Empty the Basket.We are not buying anymore.We changed our minds.Let's go to McD

In [63]:
Basket.clear()

In [64]:
# Check basket - Basket should be empty
Basket

[]

# List Methods

### Exercise 1 - fix this code so it print a sorted list of our friends alphabertically.

In [65]:
friends = ["Simon","Patty","Joy","Carrie","Amira","Chu"]
friends

['Simon', 'Patty', 'Joy', 'Carrie', 'Amira', 'Chu']

In [66]:
for item in friends:
    print(item)

Simon
Patty
Joy
Carrie
Amira
Chu

In [68]:
friends[1]

'Patty'

### [Solution](#):

In [69]:
friends.sort()

In [70]:
print(friends)

['Amira', 'Carrie', 'Chu', 'Joy', 'Patty', 'Simon']

# Exercise 2 - Add a new flatmate called Stanley to the whatsapp group

In [71]:
new_flatmate = "Stanley"

In [72]:
print(friends + new_flatmate)

TypeError: can only concatenate list (not "str") to list

# Notice the above Error - why do you think so . Let's tidy up

In [77]:
new_flatmate = ["Stanley"]

In [78]:
print(friends + new_flatmate)

['Amira', 'Carrie', 'Chu', 'Joy', 'Patty', 'Simon', 'Stanley']

In [ ]:
# Note : We didnt really add him here
# let's see why?

In [79]:
friends # See we dont have Stanley

['Amira', 'Carrie', 'Chu', 'Joy', 'Patty', 'Simon']

In [80]:
friends.append("Stanley")

In [81]:
friends

['Amira', 'Carrie', 'Chu', 'Joy', 'Patty', 'Simon', 'Stanley']

In [82]:
# Bonus : Patty is moving out. Let's add Josh to the team
friends.remove("Patty")

In [83]:
friends.append("Josh")

In [84]:
friends

['Amira', 'Carrie', 'Chu', 'Joy', 'Simon', 'Stanley', 'Josh']

In [ ]:
# Let's rearrange the list and have a look at another way to redo the list

In [85]:
friends[::-1] # this works as using the sort method

['Josh', 'Stanley', 'Simon', 'Joy', 'Chu', 'Carrie', 'Amira']

In [86]:
friends.sort()  # reaarange the list with sort()

In [87]:
friends

['Amira', 'Carrie', 'Chu', 'Josh', 'Joy', 'Simon', 'Stanley']

In [88]:
# Shall we try using extend to see if it works? What do you think?
new_friend = ["Timofe"]

In [89]:
friends.extend(new_friend)
print(friends)

['Amira', 'Carrie', 'Chu', 'Josh', 'Joy', 'Simon', 'Stanley', 'Timofe']

In [90]:
print(friends)

['Amira', 'Carrie', 'Chu', 'Josh', 'Joy', 'Simon', 'Stanley', 'Timofe']

# Take note of this class: we will speak about this after for loops

# List Comprehension
+ Creating a list with a one line

In [ ]:
my_savings = [1,2,3,4,5,6]
interest = [i*i for i in my_savings]

In [ ]:
print(my_savings)
print(interest)

In [ ]:
# more on list comprehension in my private repo

<a id='dictionary'></a>


## Dictionaries

Dictionaries are a non-ordered Python data type. Instead of using an ordered index to access data stored in a dictionary, we use a system of key-value pairs.

- A key is similar to a variable name. 
- A value is similar to the value assigned to the variable.

Curly braces ({ }) enclose dictionaries. Note: You can also use curly braces to construct a set. The first input in a dictionary pair is the "key." The second input in a dictionary pair is the "value." The general format looks like this:

# Dictionaries 
+ They are unordered keys. Unordered also in memory of pc
+ Keys[0]
+ Values[1]

In [91]:
params = {"key1" : 1.0,
          "key2" : 2.0,
          "key3" : 3.0,}

print(type(params))
print(params)

<class 'dict'>
{'key1': 1.0, 'key2': 2.0, 'key3': 3.0}

The keys stay the same, but the values are changeable. You can also only have one occurrence of a key in a dictionary, but you can have all of the values be the same.

In [92]:
# Value for parameter2 in the params dictionary:
params["key2"]

2.0

In [93]:
# Adding a new dictionary entry:
params["key4"] = "D"

In [94]:
# Print the entirety of the dictionary:
print(params)

{'key1': 1.0, 'key2': 2.0, 'key3': 3.0, 'key4': 'D'}

In [95]:
# Reassigning the value of a key-value pair in the dictionary:
params["key1"] = "A"
params["key2"] = "B"

In [98]:
print("hamburger = " + str(params["key1"]))
print("Key 1 = " + str(params["key2"]))
print("Key 2 = " + str(params["key3"]))
print("Key 3 = " + str(params["key4"]))

hamburger = A
Key 1 = B
Key 2 = 3.0
Key 3 = D

In [ ]:
# Dictionaries also have methods.

# Convert a dictionary to a list of tuples (key-value pairs).
# This is later used to conveniently loop through a dictionary:
list(params.items())

# Let's dive a bit into Dictionaries

In [99]:
my_lists = [{"a":[1,2,3,4], # list
           "b" : "hello",  # string
           "c" : True,     # boolean
            },
            {
            "a" : [5,6,7,8],
            "b" : "hello",
            "c" : False,    
            }]

# Let's see the first items in the dictionary

In [100]:
print(my_lists[0])

{'a': [1, 2, 3, 4], 'b': 'hello', 'c': True}

# Let's print the 2nd items in the dictionary

In [101]:
print(my_lists[1])

{'a': [5, 6, 7, 8], 'b': 'hello', 'c': False}

# Let's print the 2nd items in the 1st dictionary

In [102]:
my_lists[0]['b']

'hello'

# 4.  Print only the 3rd item in the first item in the dictionary 
+ note a : [1,2,3,4] ie 3rd item is 4

In [103]:
print(my_lists[0]['a'][3])

4

# First Dictionary Exercise

In [ ]:
#1 Create a user profile for your new game. This user profile will be stored in a dictionary with keys: 'age', 'username', 'weapons', 'is_active' and 'clan'

In [104]:
user = {
  'age' :23,
  'username' : 'Timo',
  'weapons' : ['swords'],
   'isactive': True ,
  'clan': 'Samurai'
}

In [ ]:
#2 iterate and print all the keys in the above user.

In [109]:
print(user.keys())
print("----------")
print(user.values())

dict_keys(['age', 'username', 'weapons', 'isactive', 'clan'])
----------
dict_values([23, 'Timo', ['swords'], True, 'Samurai'])

In [ ]:
#3 Add a new weapon to your user

In [110]:
user['weapons'].append('shield')
print(user)

{'age': 23, 'username': 'Timo', 'weapons': ['swords', 'shield'], 'isactive': True, 'clan': 'Samurai'}

In [ ]:
#3 Another way to add a new weapon to your user

In [111]:
new_weapon = ['helmet']

In [112]:
print(user['weapons'] + new_weapon)

['swords', 'shield', 'helmet']

In [ ]:
# Or we could do this

In [113]:
user['weapons'].append(new_weapon)

In [114]:
print(user)

{'age': 23, 'username': 'Timo', 'weapons': ['swords', 'shield', ['helmet']], 'isactive': True, 'clan': 'Samurai'}

In [ ]:
# lets remove helmet from the user profile

In [115]:
user['weapons'].remove(['helmet'])

In [116]:
print(user)

{'age': 23, 'username': 'Timo', 'weapons': ['swords', 'shield'], 'isactive': True, 'clan': 'Samurai'}

In [ ]:
# 4 Add a new key to include 'is_banned'. Set it to false

In [117]:
new = ({'isbanned' : False})

In [118]:
print(user.update(new))

None

In [119]:
print(user.keys())

dict_keys(['age', 'username', 'weapons', 'isactive', 'clan', 'isbanned'])

In [120]:
#5 Ban the user by setting the previous key to True
user['isbanned'] = True

In [121]:
print(user)

{'age': 23, 'username': 'Timo', 'weapons': ['swords', 'shield'], 'isactive': True, 'clan': 'Samurai', 'isbanned': True}

# 6 create a new user2 my copying the previous user and update the age value and username value.

In [122]:
user2 = user.copy()

In [123]:
user2['age'] = 25

In [124]:
user2['username'] = 'Joshua Owusu'

In [125]:
user2

{'age': 25,
 'username': 'Joshua Owusu',
 'weapons': ['swords', 'shield'],
 'isactive': True,
 'clan': 'Samurai',
 'isbanned': True}

In [126]:
#Or
user3 = user.copy()
user3.update({'age': 100, 'username': 'Timboke'})
print(user3)

{'age': 100, 'username': 'Timboke', 'weapons': ['swords', 'shield'], 'isactive': True, 'clan': 'Samurai', 'isbanned': True}

# Exercise

# I am travelling . Let's pack a suitcase

In [127]:
suitcase = {"pants":5,
           "shorts":3,
           "jeans":2,
           "shoes":2}

In [128]:
suitcase

{'pants': 5, 'shorts': 3, 'jeans': 2, 'shoes': 2}

In [137]:
# printing the items in the suitcase
for item in suitcase:
    print(item)

pants
shorts
jeans
shoes

In [132]:
# Now I want to double check how many items I have in my bag.
for item in suitcase:
    print(item, ":", suitcase[item])

pants : 5
shorts : 3
jeans : 2
shoes : 2

In [139]:
# lets check the content of my suitcase
suitcase

{'pants': 5, 'shorts': 3, 'jeans': 2, 'shoes': 2}

In [140]:
# let's add six shirts to our suitcase
suitcase["shirts"] = 6

In [143]:
# check suitcase
suitcase

{'pants': 5, 'shorts': 3, 'jeans': 2, 'shoes': 2, 'shirts': 3}

In [142]:
# Note we can change number of shirts this way
suitcase["shirts"] = 3

In [144]:
# lets add some home shirts
suitcase["shirts"] += 6

In [145]:
print(suitcase)

{'pants': 5, 'shorts': 3, 'jeans': 2, 'shoes': 2, 'shirts': 9}

# Shopping basket Options
+ Add item
+ Remove item
+ view basket
+ Exit program

In [ ]:
# Note this is a little bit indepth and we will go deeper once we cover for loops, functions and OOP

In [23]:
shopping_basket = {}

option = int(input("Enter an option"))

while option != 0:
    # Add an item
    if option == 1:
        item = input("Enter an item: ")
        
        if item in shopping_basket:
            print("Item already in shopping basket")
            qnty = int(input("Enter the quantity: "))
            shopping_basket[item] = shopping_basket[item] + qty
        else:    
            qty = int(input("Enter the qunatity: "))
            shopping_basket[item] = qty
            
    # deleting or removing an item    
    elif option == 2:
        item = input("Enter an item: ")
        del(shopping_basket)
    elif option == 3:
#         print(shopping_basket)
        for item in shopping_basket:
            print(item,":",shopping_basket)
    elif option != 0:
        print("You didnt enter a valid number.")
        
    option = int(input("\n\nEnter an option: "))  
    
# close program    
else:
    print("Shopping basket program closed.")

Enter an item: banana
Enter the qunatity: 10


Enter an option: 1
Enter an item: coffee
Enter the qunatity: 3


Enter an option: 2

KeyboardInterrupt: Interrupted by user

# Exercise

# Let's Move Cities

In [146]:
my_dict = {"name":"Max","age":20,"city":"New York"}
print(my_dict)

{'name': 'Max', 'age': 20, 'city': 'New York'}

In [147]:
# Adding an email to the details of Max
my_dict["email"] = "max@gmail.co.uk"

In [148]:
print(my_dict)

{'name': 'Max', 'age': 20, 'city': 'New York', 'email': 'max@gmail.co.uk'}

In [153]:
# deleting items
del my_dict["name"] 
print(my_dict)

{'age': 20, 'city': 'New York', 'email': 'max@gmail.co.uk'}

In [154]:
# we can also use pop to remove items from our dictionary
my_dict.pop("age")

20

In [155]:
print(my_dict)

{'city': 'New York', 'email': 'max@gmail.co.uk'}

In [156]:
# in python 3.7 this removes the last item
my_dict.popitem()
print(my_dict)

{'city': 'New York'}

In [157]:
# Check results
my_dict

{'city': 'New York'}

In [158]:
# Checking if item in dictionary
if "last_name" in my_dict:
    print("yes")
else:
    print("Customer details not found")

Customer details not found

In [159]:
# we could also use try and except
try:
    print(my_dict["name"])
except: 
    print("Error")

Error

In [160]:
my_dict = {"name":"Max","age":20,"city":"New York"}
print(my_dict)

{'name': 'Max', 'age': 20, 'city': 'New York'}

In [162]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [161]:
# Looping through the dict
for key in my_dict.keys():
    print(key)

name
age
city

In [163]:
for value in my_dict.values():
    print(value)

Max
20
New York

In [167]:
# if we want both keys and values in our dictionary we can say
for key, value in my_dict.items():
#     print(key,value)
    print(key,":",value)

name : Max
age : 20
city : New York

In [168]:
# or we can use this format
for item in my_dict:
    print(item,":",my_dict[item])

name : Max
age : 20
city : New York

# Let's create two dictionaries

In [169]:
my_dict1 = {"name":"Matt","age":28,"email":"mattMatt@gmail.com"}
my_dict2 = dict(name="Mary",age=25,city="London")

In [170]:
print(my_dict1)
print(my_dict2)

{'name': 'Matt', 'age': 28, 'email': 'mattMatt@gmail.com'}
{'name': 'Mary', 'age': 25, 'city': 'London'}

In [171]:
# Merging both dictionaries
my_dict1.update(my_dict2)
print(my_dict1)

{'name': 'Mary', 'age': 25, 'email': 'mattMatt@gmail.com', 'city': 'London'}

# This is just a tip of the iceberg for what I have prepared to guide you on your Data science journey with python.
# Feel free to send me all doubts on josh_billion@yahoo.com